header{
    background-color: gray;
    border-top-style: solid;
    border-top-width: 3px;
    border-color: black;
}

.container{
    display: flex;    
}

ul{
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 400px;
}

nav{
    align-items: center;
    justify-content: center;
}

li{
    display: inline;
    font-size: 25px;
}

a:hover{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: black;
}

a{
    text-decoration: none;
    color: azure;
}

a:visited{
    
}

.img-background{
    background-image: url(/img/utn-alumnos.jpg);
    height: 300px;
    width: 2000px;    
}

h1{
    color: white;
    text-align: center;    
}

.img-content{
   margin-left: 100px;
   text-align: center;
   
}

.main-image{      
    flex-grow: 1;
    
}

section div{
    justify-content: center;
}
    
